{% extends "index.html" %}
{% block container %}

<main class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 font-Spartan text-primary-custom"><b>404</b></h1>
        <h2 class="font-Spartan text-primary-custom"><b>Página no encontrada</b></h2>
        <p class="lead text-primary-custom">Lo sentimos, la página que estás buscando no existe.</p>
        <a href="/" class="btn btn-color btn-hover text-white font-Spartan">Volver al inicio</a>
    </div>
</main>

{% endblock %}