{% extends "admin/index.html" %} {% block container %}
<h1>Compras de insumos</h1>
<div class="d-flex">
  <a href="{{ url_for('proveedores') }}" class="btn btn-warning text-white font-Spartan me-2" style="max-width: 100px;">Proveedores</a>
  <a href="{{ url_for('insumos') }}" class="btn btn-warning text-white font-Spartan" style="max-width: 80px;">Insumos</a>
</div>
<div
  class="col-md-11 ms-sm-auto col-lg-11 px-md-4 container rounded-3 mt-5 p-1"
>
  <div class="row">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %} {% endif %} {% endwith %}

    <!-- Listado de Compras de Insumos -->
    <div class="col-6">
      <div class="last-login">
        <p class="mb-0">
          <b>Último inicio de sesión:</b> {{ ultimo_login.strftime('%Y-%m-%d
          %H:%M:%S') if ultimo_login else 'Nunca' }}
        </p>
      </div>
      <div class="card shadow-sm rounded-3">
        <div class="card-header text-center">
          <b>Compras de Insumos</b>
        </div>
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
          <table class="table table-hover table-striped text-center" id="comprasTable">
            <thead>
              <tr>
                <th>Fecha Compra</th>
                <th>Proveedor</th>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Unidad Medida</th>
                <th>Precio Unitario</th>
                <th>Total Compra</th>
              </tr>
            </thead>
            <tbody id="comprasTableBody">
              {% for compra in compras %}
              <tr data-id="{{ compra.idCompra }}" 
                  data-insumo="{{ compra.idMateriaPrima }}"
                  data-cantidad="{{ compra.cantidad }}" 
                  data-fecha="{{ compra.fecha }}"
                  data-fechacaducidad="{{ compra.fechaCaducidad }}"
                  data-total="{{ compra.totalCompra }}">
                <td>{{ compra.fecha }}</td>
                <td>{{ compra.nombreProveedor }}</td>
                <td>{{ compra.nombreMateria }}</td>
                <td>{{ compra.cantidad }}</td>
                <td>{{ compra.unidadMedida }}</td>
                <td>{{ compra.precioUnitario }}</td>
                <td>{{ compra.totalCompra }}</td>
                <td>{{ compra.fechaCaducidad }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>        
      </div>
    </div>

    <!-- Formulario de Compras de Insumos -->
    <div class="col-6">
      <form id="formCompras" method="POST" action="{{ url_for('comprasInsumos') }}">
        {{ form.csrf_token }}
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <!-- Campo oculto para el ID de la compra -->
        <input type="hidden" id="idCompra" name="idCompra" value="">
      
        <div class="mb-3">
          <label for="idMateriaPrima" class="form-label">Insumo</label>
          <select class="form-select" id="idMateriaPrima" name="idMateriaPrima">
            <option value="" selected disabled>Seleccione un insumo</option>
            {% for id, nombre in form.idMateriaPrima.choices %}
              <option value="{{ id }}">{{ nombre }}</option>
            {% endfor %}
          </select>
        </div>
      
        <div class="mb-3">
          <label for="cantidad" class="form-label">Cantidad (<i>Ingrese en Kg, Ltr o Pzs</i>)</label>
          {{ form.cantidad(class="form-control", id="cantidad", placeholder="Cantidad") }}
        </div>
        <div class="mb-3">
          <label for="fecha" class="form-label">Fecha</label>
          {{ form.fecha(class="form-control", id="fecha") }}
        </div>
        <div class="mb-3">
          <label for="fechaCaducidad" class="form-label">Fecha de Caducidad</label>
          {{ form.fechaCaducidad(class="form-control", id="fechaCaducidad") }}
        </div>
      
        <div class="d-flex">
          <button type="submit" id="btnGuardar" class="btn btn-warning text-white font-Spartan me-2">Guardar Compra</button>
          <button type="button" class="btn btn-primary text-white font-Spartan" id="btnEditar" onclick="editarCompra()">Editar Compra</button>
        </div>
    </form>
          
    </div>
  </div>
</div>

<script>
  var comprasEditarUrl = "{{ url_for('editar_compraInsumo') }}";
</script>
<script src="{{ url_for('static', filename='js/compras.js') }}"></script>
{% endblock %}
