{% extends "admin/index.html" %}
{% block container %}
<div class="col-md-11 ms-sm-auto col-lg-11 px-md-4 container rounded-3 mt-5 p-1">
  <div class="row">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <!-- Listado de Compras de Insumos -->
    <div class="col-6">
      <div class="card shadow-sm rounded-3">
        <div class="card-header text-center">
          <b>Compras de Insumos</b>
        </div>
        <div class="table-responsive">
          <table class="table table-hover table-striped text-center" id="comprasTable">
            <thead>
              <tr>
                <th>Proveedor</th>
                <th>Insumo</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th>Total Compra</th>
              </tr>
            </thead>
            <tbody id="comprasTableBody">
                {% for compra in compras %}
                <tr data-id="{{ compra.idCompra }}" 
                    data-proveedor="{{ compra.idProveedor }}" 
                    data-insumo="{{ compra.idMateriaPrima }}"
                    data-cantidad="{{ compra.cantidad }}" 
                    data-fecha="{{ compra.fecha }}"
                    data-total="{{ compra.totalCompra }}">
                    <td>{{ compra.nombreProveedor }}</td>
                    <td>{{ compra.materiaPrima }}</td>
                    <td>{{ compra.cantidad }}</td>
                    <td>{{ compra.fecha }}</td>
                    <td>{{ compra.totalCompra }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- Formulario de Compras de Insumos -->
    <div class="col-6">
        <form id="formCompras" method="POST" action="{{ url_for('comprasInsumos') }}">
            {{ form.csrf_token }}
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <!-- Campo oculto para el ID de la compra -->
            <input type="hidden" id="idCompra" name="idCompra" value="">
          
            <div class="mb-3">
              <label for="idProveedor" class="form-label">Proveedor</label>
              <select class="form-select" id="idProveedor" name="idProveedor">
                <option value="" selected disabled>Seleccione un proveedor</option>
                {% for id, nombre in form.idProveedor.choices %}
                  <option value="{{ id }}">{{ nombre }}</option>
                {% endfor %}
              </select>
            </div>
          
            <div class="mb-3">
              <label for="idMateriaPrima" class="form-label">Insumo</label>
              <select class="form-select" id="idMateriaPrima" name="idMateriaPrima">
                <option value="" selected disabled>Seleccione un insumo</option>
                {% for id, nombre in form.idMateriaPrima.choices %}
                  <option value="{{ id }}">{{ nombre }}</option>
                {% endfor %}
              </select>
            </div>
          
            <div class="mb-3">
              <label for="cantidad" class="form-label">Cantidad</label>
              {{ form.cantidad(class="form-control", id="cantidad") }}
            </div>
            <div class="mb-3">
              <label for="fecha" class="form-label">Fecha</label>
              {{ form.fecha(class="form-control", id="fecha") }}
            </div>
            <div class="mb-3">
              <label for="totalCompra" class="form-label">Total Compra</label>
              {{ form.totalCompra(class="form-control", id="totalCompra") }}
            </div>
          
            <div class="d-flex">
              <button type="submit" class="btn btn-warning text-white font-Spartan me-2">Guardar Compra</button>
              <button type="button" class="btn btn-primary text-white font-Spartan" id="btnEditar" onclick="editarCompra()">Editar Compra</button>
            </div>
          </form>
          
    </div>
  </div>
</div>

<script>
  var comprasEditarUrl = "{{ url_for('editar_compraInsumo') }}";
</script>
<script src="{{ url_for('static', filename='js/compras.js') }}"></script>
{% endblock %}
