{% extends "admin/index.html" %}
{% block container %}
{% import "admin/_macros.html" as macro %}


<div class="d-flex justify-content-between align-items-center">
    <h2 class="text-center titulo-productos">
        Productos <span>dulce rebaño</span>
    </h2>
    <img src="../../static/img/donGalleto2.png" alt="Logo" class="img-fluid ms-3" style="max-width: 100px; height: auto;">
</div>
<div class="row">
    <div class="col-md-6">
        <h5 class="text-center">Productos más Vendidos</h5>
        <canvas id="productosMasVendidos"></canvas>
    </div>
    <div class="col-md-6">
        <h5 class="text-center">Presentaciones más Vendidas</h5>
        <canvas id="presentacionesMasVendidas"></canvas>
    </div>
</div>
<h4 class="text-center mt-4">Ventas</h4>
<table class="table table-bordered table-striped">
    <thead class="table-warning">
        <tr>
            <th>Sabor</th>
            <th>Presentación</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        {% for venta in ventas_combinadas %}
        <tr>
            <td>{{ venta.nombreSabor }}</td>
            <td>{{ venta.tipoProducto }}</td>
            <td>{{ venta.cantidad }}</td>
            <td>{{ venta.total }}</td>
        </tr>
        {% endfor %}
    </tbody>

</table>
<script>
        const ctx1 = document.getElementById('productosMasVendidos').getContext('2d');
        new Chart(ctx1, {
            type: 'bar',
            data: {
                labels: JSON.parse('{{ productos_labels | tojson | safe }}'), 
                datasets: [{
                    label: 'Cantidad Vendida',
                    data: JSON.parse('{{ productos_data | tojson | safe }}'),
                    backgroundColor: ['#542E02', '#542E02', '#542E02']
                }]
            }
        });
        

        const ctx2 = document.getElementById('presentacionesMasVendidas').getContext('2d');
        new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: JSON.parse('{{ presentaciones_labels | tojson | safe }}'),
                datasets: [{
                    label: 'Cantidad Vendida',
                    data: JSON.parse('{{ presentaciones_data | tojson | safe }}'),
                    backgroundColor: ['#542E02', '#542E02', '#542E02']
                }]
            }
        });
</script>
{% endblock %}
