{% extends "admin/index.html" %}
{% block container %}
{% import "admin/_macros.html" as macro %}

<!--* Main -->
<div class="col-md-11 ms-sm-auto col-lg-11 px-md-4 container rounded-3 p-1 mt-3">
    <div class="row">
        <div class="card border-0 gb mb-3" style="height: 58px; background-color: #e1e1e1">
            {% with message = get_flashed_messages() %}
                {% if message %}
                    {% for messages in message %}
                        <div class="alert alert-success bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
                            {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col-6">
            <div class="card border-0 shadow-sm rounded-3 bg-white">
                <div class="card-header border-0 rounded-top-3 text-center bg-white">
                    <b class="text-center font-Spartan">Galletas</b>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover text-center mb-0 table-borderless">
                        <thead class="text-dark">
                            <tr>
                                <th>N°Lote</th>
                                <th>Sabor</th>
                                <th>Tipo</th>
                                <th>Fecha</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="productosTableBody">
                            {% for producto in productos %}
                            <tr onclick="selectProduct('{{ producto.idProducto }}', '{{ producto.estatus }}')">
                                <td>{{ producto.idProducto }}</td>
                                <td>{{ producto.nombreSabor }}</td>
                                <td>{{ producto.tipoProducto }}</td>
                                <td>{{ producto.fechaCaducidad.strftime('%d-%m-%Y') }}</td>
                                <td>{{ producto.cantidadDisponible }}</td>
                                <td class=""><a class="fs-5 fa fa-info-circle text-decoration-none text-warning"></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer border-0 rounded-bottom-3 bg-white pt-0"></div>
            </div>
        </div>
        <div class="col-6">
            <form id="formLote" method="POST" action="{{ url_for('guardarLote') }}" novalidate>
                {{ form.hidden_tag() }}
                <div class="row">
                    <div class="col-md-6">
                        {{ macro.datos('txtIdGalleta', '', 'text', disabled=true) }}
                    </div>
                    <div class="col-md-6">
                        {{ macro.datos('txtEstatus', '', 'text', disabled=true) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating">
                            {{ form.sabor(class="form-select border-0", id="txtSabor") }}
                            <label for="txtSabor">Sabor</label>
                        </div>
                    </div>
                </div>

                <!--* Botones -->
                <div class="row mt-2">
                    <div class="col-4">
                        <div class="form-floating text-end">
                            <button class="text-center col-12 btn buyButtons btn-warning border-0 text-white font-Spartan" type="button" data-bs-toggle="modal" data-bs-target="#modalNuevoPaquete"><b>Nuevo Paquete</b><i class="fa fa-plus ms-1"></i></button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating text-end">
                            <button class="text-center col-12 btn buyButtons btn-warning border-0 text-white font-Spartan" type="button"><b>Nuevo Lote</b><i class="fa fa-plus ms-1"></i></button>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating text-end">
                            <button class="text-center col-12 btn buyButtons btn-warning border-0 text-white font-Spartan" type="button" onclick="guardarLote()"><b>Guardar</b></button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row mt-2">
                <div class="col-12">
                    <div class="form-floating text-end">
                        <button class="text-center col-12 btn buyButtons btn-warning border-0 text-white font-Spartan" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@getbootstrap"><b>Mermar</b><i class="fa fa-trash-alt ms-2"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--* Modal Merma -->
<div class="modal fade mt-5" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header border-0" style="background-color: #eee">
                <h1 class="modal-title fs-5 font-Spartan" id="exampleModalLabel"><b>Merma de Productos</b></h1>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #eee">
                <form id="formMerma" method="POST" action="{{ url_for('mermar') }}">
                    {{ form.hidden_tag() }}
                    {{ macro.merma('mdlCantidad', 'Cantidad a mermar:', 'flexCheckIndeterminate', 'Mermar Todo') }}
                    <input type="hidden" id="mdlIdProducto" name="idProducto">
                </form>
            </div>
            <div class="modal-footer border-0" style="background-color: #eee">
                <button type="submit" class="btn btn-warning font-Spartan text-white" form="formMerma">Mermar</button>
            </div>
        </div>
    </div>
</div>

<!--* Modal Nuevo Paquete -->
<div class="modal fade mt-5" id="modalNuevoPaquete" tabindex="-1" aria-labelledby="modalNuevoPaqueteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header border-0" style="background-color: #eee">
                <h1 class="modal-title fs-5 font-Spartan" id="modalNuevoPaqueteLabel"><b>Nuevo Paquete</b></h1>
                <button type="button" class="btn-close bg-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: #eee">
                <form id="formNuevoPaquete">
                    <div class="col-md-12" style="display: none;">
                        <div class="form-floating">
                            <input type="text" class="form-control border-0" id="mdlIdGalletas" placeholder="" disabled="">
                            <label for="mdlIdGalletas">ID</label>
                        </div>
                    </div>
                    <div class="card pt-2 pb-2 pe-0 ps-0 border-0 rounded-3">
                        <table class="table-borderless table table-hover table-sm rounded-3 text-center">
                            <thead>
                                <tr>
                                    <th>Sabor</th>
                                    <th>Tipo</th>
                                    <th>Cantidad</th>
                                </tr>
                            </thead>
                            <tbody id="tBodyGalletas">
                                <!-- Contenido de la tabla -->
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="form-floating">
                            <input type="number" class="form-control border-0" id="mdlCantidadPkg" placeholder="">
                            <label for="mdlCantidadPkg">Cantidad</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer border-0" style="background-color: #eee">
                <button type="button" class="btn btn-warning font-Spartan text-white" onclick="savePaquete()">Guardar</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}