{% extends "admin/index.html" %}
{% block container %}
<div class="row">
    <div class="card border-0 gb mb-3" style="height: 58px; background-color: #f1f1f1">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="container col-12">
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show d-none" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
    </div>

    <div class="col-10 mx-auto">
        <div class="card border-0 shadow-sm rounded-3 bg-white">
            <div class="card-header border-0 rounded-top-3 text-center bg-white">
                <b class="text-center font-Spartan">Pedidos</b>
            </div>
            <div class="table-responsive" style="max-height: 700px;">
                <table class="table table-hover text-center mb-0 table-borderless table-striped">
                    <thead class="text-dark">
                        <tr>
                            <th>Cliente</th>
                            <th>Total</th>
                            <th>Fecha Entrega</th>
                            <th>Cantidad</th>
                            <th>Tipo Producto</th>
                            <th>Nombre Sabor</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente, detalles_cliente in clientes.items() %}
                        {% for pedido in detalles_cliente.productos %}
                        <tr>
                            {% if loop.first %}
                            <td rowspan="{{ detalles_cliente.productos|length }}" class="align-middle">{{ cliente }}</td>
                            <td rowspan="{{ detalles_cliente.productos|length }}" class="align-middle">${{
                                detalles_cliente.total_cliente }}</td>
                            {% endif %}
                            <td>{{ pedido.fechaEntrega }}</td>
                            <td>{{ pedido.cantidad }}</td>
                            <td>{{ pedido.tipoProducto }}</td>
                            <td>{{ pedido.nombreSabor }}</td>
                            <td>
                                {% if pedido.estatus == 1 %}
                                <span class="badge bg-warning rounded-pill">Pendiente</span>
                                {% elif pedido.estatus == 2 %}
                                <span class="badge bg-success rounded-pill">Realizado</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if pedido.estatus == 1 %}
                                <form action="{{ url_for('realizar_pedido', pedido_id=pedido.idVentasCliente) }}" method="POST">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                    <button type="submit" class="btn btn-success">Confirmar Venta</button>
                                </form>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-footer border-0 rounded-bottom-3 bg-white pt-0"></div>
        </div>
    </div>
</div>
{% endblock %}