{% extends "admin/index.html" %}
{% block container %}
{% import "admin/_macros.html" as macro %}

    <div class="row">
        <div class="col-md-6 mb-2">
            <div class="card mb-2 rounded-3 border-0" style="height: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="static/img/avena2.jpg" class="img-fluid rounded-start-3" alt="Avena" style="width: 135px; height: 267px; object-fit: cover; object-position: 90%; zoom: 1.5;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Galletas de Avena</h5>
                            <p class="card-text">
                                Ingredientes: <br>
                                - 1 taza de avena <br>
                                - 1/2 taza de harina <br>
                                - 1/2 taza de azúcar morena <br>
                                - 1/2 taza de mantequilla <br>
                                - 1 huevo <br>
                                - 1/2 cucharadita de canela <br>
                                - 1/2 cucharadita de vainilla <br>
                            </p>
                            <p class="card-text">
                                Procedimiento: Mezcla los ingredientes secos. Agrega la mantequilla derretida, el huevo y la vainilla. Forma bolitas y hornea a 180°C por 12-15 minutos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-2">
            <div class="card mb-2 rounded-3 border-0" style="height: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="static/img/brownies.jpg" class="img-fluid rounded-start-3" alt="Brownies" style="width: 200px; height: 400px; object-fit: cover;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body rounded-3">
                            <h5 class="card-title">Brownies</h5>
                            <p class="card-text">
                                Ingredientes: <br>
                                - 1 taza de harina <br>
                                - 1 taza de azúcar <br>
                                - 1/2 taza de cacao en polvo <br>
                                - 1/2 taza de mantequilla <br>
                                - 2 huevos <br>
                                - 1/2 cucharadita de vainilla <br>
                            </p>
                            <p class="card-text">
                                Procedimiento: Mezcla los ingredientes secos. Agrega la mantequilla derretida, los huevos y la vainilla. Vierte en un molde y hornea a 180°C por 20-25 minutos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card: Galletas con Chispas de Chocolate -->
        <div class="col-md-6 mb-4">
            <div class="card mb-3 rounded-3 border-0" style="height: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="static/img/C. Chispas.jpg" class="img-fluid rounded-start-3" alt="C. chispas" style="width: 200px; height: 400px; object-fit: cover; object-position: 10%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Galletas con Chispas de Chocolate</h5>
                            <p class="card-text">
                                Ingredientes: <br>
                                - 1 taza de harina <br>
                                - 1/2 taza de azúcar <br>
                                - 1/2 taza de mantequilla <br>
                                - 1 huevo <br>
                                - 1/2 taza de chispas de chocolate <br>
                                - 1/2 cucharadita de vainilla <br>
                            </p>
                            <p class="card-text">
                                Procedimiento: Mezcla los ingredientes secos. Agrega la mantequilla derretida, el huevo y la vainilla. Incorpora las chispas de chocolate. Forma bolitas y hornea a 180°C por 12-15 minutos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Card: Galletas con Pasas -->
        <div class="col-md-6 mb-4">
            <div class="card mb-3 rounded-3 border-0" style="height: 400px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="static/img/C. Pasas.jpg" class="img-fluid rounded-start-3" alt="C. Pasas" style="width: 200px; height: 400px; object-fit: cover; object-position: 40%;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Galletas con Pasas</h5>
                            <p class="card-text">
                                Ingredientes: <br>
                                - 1 taza de harina <br>
                                - 1/2 taza de azúcar <br>
                                - 1/2 taza de mantequilla <br>
                                - 1 huevo <br>
                                - 1/2 taza de pasas <br>
                                - 1/2 cucharadita de vainilla <br>
                            </p>
                            <p class="card-text">
                                Procedimiento: Mezcla los ingredientes secos. Agrega la mantequilla derretida, el huevo y la vainilla. Incorpora las pasas. Forma bolitas y hornea a 180°C por 12-15 minutos.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}